

      <h6 class="px-2">Posts:<%=@user.posts.count %></h6>
        <div class="card px-2">
          <% @posts.each do |post|%>
            <div class="card-body">
            <h6><%=post.title%></h6>
            <p><%= post.text%></p>
            <%= link_to 'Read more', user_post_path(@user,post.id), class: 'btn-sm btn btn-primary' %>
            </div>
            <% end%>
          </div>
